
@{
  ViewData["Title"] = "PasswordRefresh";
  Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="margin-top:75px;" class="login-container order-2 order-lg-1 flex-center flex-row-fluid px-7 pt-lg-0 pb-lg-0 pt-4 pb-6 bg-white">
  <!--begin::Wrapper-->
  <div class="login-content d-flex flex-column pt-lg-0 pt-12">
  <!--begin::Signin-->
    <div class="login-form">

      @if (ViewBag.durum == true)
      {
        <div style="margin-bottom:50px;" class="alert alert-success">Şifre Başarıyla Değiştirildi.</div>
      }
      else if (ViewBag.durum == false)
      {
        <div style="margin-bottom:50px;" class="alert alert-danger">Şifre Değiştirilemedi! Lütfen Tekrar Deneyin.</div>
      }

      <!--begin::Form-->
      <form class="form" id="kt_login_passwordrefresf_form" action="~/Login/PasswordRefresh/" method="post">
        <!--begin::Form group-->
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark">E-mail</label>
          <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text" id="Email" name="EMail" autocomplete="off" />
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Şifre</label>
          <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="password" id="Sifre" name="Sifre" autocomplete="off" />
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Yeni Şifre</label>
          <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="password" name="YeniSifre" autocomplete="off" />
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">Yeni Şifre Tekrar</label>
          <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="password" name="YeniSifreTekrar" autocomplete="off" />
        </div>
        <!--end::Form group-->
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
          <button type="submit" id="kt_login_passwordrefresh_form_submit_button" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Şifre Yenile</button>
        </div>
        <!--end::Action-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Signin-->
  </div>
  <!--end::Wrapper-->
</div>
